html {
    font-family: "Fira Sans", sans-serif;
    color: #cab6c1;
}

body {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #300a24;
}

pre {
    padding: 1rem;
    background-color: #53123e;
    margin: 1rem 0;
    overflow: auto;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    color: #edc7e5;
}

a:visited {
    color: #eddbed;
}
